@model List<artistry_Web.Areas.Moderator.ViewModels.ArtworkInfoVM>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{ List<artistry_Data.Models.Artworks> list = ViewData["collections"] as List<artistry_Data.Models.Artworks>; }

<style>
    .artworks:hover {
        background-color: #eee;
        opacity: 0.3;
    }
</style>
<div class="page-header page-header-default">
    <div class="page-header-content">
        <div class="page-title">
            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Artworks</span></h4>
        </div>
        <div class="heading-elements">
            <div class="heading-btn-group">
                <a asp-controller="Artwork" asp-action="Add" class="btn btn-link btn-float has-text"><i class="icon-plus-circle2 text-primary"></i><span>Add</span></a>
            </div>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index"><i class="icon-home2 position-left"></i> Home</a></li>
            <li class="active"><a asp-controller="Artwork" asp-action="Index">Artworks</a></li>
        </ul>
    </div>
</div>

<div class="content" style="padding-bottom:0px;">
    <div class="row">
        @foreach (var x in Model)
        {
            <div class="col-md-3">
                <a asp-action="Details" asp-route-id="@x.Id" class="artworks">
                    <div class="panel panel-flat" style="width:245px;height:375px;color:#000;">
                        <div class="panel-body" id="collapsePanel1 reloadPanel1">
                            <div class="border">
                                <div class="image">
                                    <img src="@Url.Action("RenderImage","Image", new { id=x.ImageId})" class="image-thumb" alt="" width="200" height="250" />
                                </div>
                                <div class="information" style="font-size:15px;margin-top:10px;padding-top:10px;color:#000;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="text-bold" style="text-align:center">@x.Name</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span style="text-align:center">@x.Artist</span>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:5px;">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-1">
                                            <span class="icon-heart5 text-danger"></span>
                                        </div>
                                        <div class="col-md-3">
                                            <span class="text-muted">@x.Likes</span>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        }
    </div>
</div>

