@model artistry_Web.ViewModels.CollectionVM

<style>
    .liked {
        margin-bottom: 15px;
        color: red;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: red;
    }

    .unliked {
        margin-bottom: 15px;
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;
    }
</style>
<link href="~/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet">
<link href="~/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
<link href="~/css/fancybox-style.css" rel="stylesheet" type="text/css" />

<div class="body-wrapper">
    <div class="body-innerwrapper">
        <div id="sp-header-sticky-wrapper" class="sticky-wrapper is-sticky" style="height: 70px;width:100%;">
            <header id="sp-header" style="position: fixed; top: 0px;width:100%;background-color:#333;">
                <div class="container">
                    <div class="row" style="position: relative;">
                        <div id="sp-logo" class="col-xs-8 col-sm-3 col-md-3">
                            <div class="sp-column">
                                <div class="logo" style="margin-left:0px;">
                                    <a asp-controller="Home" asp-action="Index">
                                        <img class="sp-default-logo" src="~/assets/images/Logo3.png" style="margin-top:3px;width:150px;height:50px;">
                                        <img class="sp-retina-logo" src="~/assets/images/Logo3.png" alt="LT Museum" width="250" height="50">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="sp-menu" class="col-xs-4 col-sm-9 col-md-9" style="position: static;">
                            <div class="sp-column ">
                                <div class="sp-megamenu-wrapper">
                                    <ul class="sp-megamenu-parent menu-slide-down hidden-sm hidden-xs">
                                        <li class="sp-menu-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                        <li class="sp-menu-item"><a asp-controller="Museum" asp-action="Index">Museums</a>
                                        <li class="sp-menu-item"><a asp-controller="Artwork" asp-action="Index">Artworks</a>
                                        <li class="sp-menu-item"><a asp-controller="Artist" asp-action="Index">Artists</a></li>
                                        <li class="sp-menu-item"><a asp-controller="News" asp-action="Index">News</a></li>
                                        <li class="sp-menu-item"><a asp-controller="Autentification" asp-action="Index">Login</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <section id="sp-page-title">
            <div class="row">
                <div id="sp-title" class="col-sm-12 col-md-12">
                    <div class="sp-column ">
                        <div class="sp-page-title">
                            <div class="container">
                                <h2>Artist</h2>
                                <ol class="breadcrumb">
                                    <li><a asp-controller="Home" asp-action="Index" class="pathway">Home</a></li>
                                    <li><a asp-controller="Museum" asp-action="Index" class="pathway">Museum</a></li>
                                    <li class="active">Collection</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br />
        <section id="sp-main-body">
            <div class="container">
                <div class="row">
                    <div id="sp-component" class="col-sm-12 col-md-12">
                        <div class="sp-column ">
                            <div id="system-message-container">
                            </div>
                            <article class="item item-page" itemscope="" itemtype="http://schema.org/Article">
                                <meta itemprop="inLanguage" content="en-GB">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div id="carousel-gallery-74" class="entry-gallery carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" role="listbox">
                                                <div class="item active">
                                                    <img src="@Url.Action("RenderImage", "Image", new { id = Model.ImageId })" alt="" style="width:400px;height:300px;">
                                                </div>

                                               
                                            </div>
                                          
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="entry-header has-post-format" style="margin-top:20px;">
                                            <span class="post-format"><i class="fa fa-thumb-tack"></i></span>
                                            <h2 itemprop="name">
                                                @Model.Name
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div itemprop="articleBody">
                                    <p>@Model.Description</p>
                                </div>

                                <div>
                                    <div class="clearfix container-isotop projects-wrapper" id="projects-wrapper" style="position: relative; height: 671.25px;">
                                        <div class="row">
                                            @foreach (var x in Model.Artworks)
                                            {
                                                <div class="col-md-3">
                                                    <div class="isotope-item column-4" style="width: 285px; margin: 0px 0px 10px; position: relative; left: 0px; top: 0px;">
                                                        <div class="project-img">
                                                            <a asp-controller="Artwork" asp-action="Details" asp-route-id="@x.Id">
                                                                @if (x.Image != null)
                                                                {
                                                                    <img src="@Url.Action("RenderImage", "Image", new { id = x.ImageId })" alt="@x.Name" style="height:300px;">
                                                                }
                                                            </a>
                                                            <div class="project-img-extra">
                                                                <a class="link-detail" asp-controller="Artwork" asp-action="Details" asp-route-id="@x.Id"></a>
                                                                <div class="project-img-extra-content">
                                                                    <h4>@x.Name</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer id="sp-footer">
        <div class="container">
            <div class="row">
                <div id="sp-footer1" class="col-sm-6 col-md-12">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <div class="sp-module-content">

                                <div class="custom">
                                    <div class="custom">
                                        <p style="text-align:center;">Copyright &copy; 2018. <a asp-controller="Home" asp-action="Index">artistry</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script>
    $(document).ready(function () {
        jQuery.browser = {};
        jQuery.browser.msie = false;
        jQuery.browser.version = 0;
        if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
            jQuery.browser.msie = true;
            jQuery.browser.version = RegExp.$1;
        }

        $("a[rel=group1]").fancybox({
            'type': 'image',
            'transitionIn': 'none',
            'transitionOut': 'none'
        });


        $('.like').click(function () {
            var $buttonClicked = $(this);
            var ID = $(this).attr('data-id');
            var targeturl = '/Artwork/Like?id=' + ID;
            $.ajax({
                type: 'GET',
                url: targeturl,
                success: function (partialView) {
                    $('#like-a').removeClass('unliked');
                    $('#like-a').addClass('liked');
                }
            });
        });

        $('.unlike').click(function () {
            var $buttonClicked = $(this);
            var ID = $(this).attr('data-id');
            var targeturl = '/Artwork/Unlike?id=' + ID;
            $.ajax({
                type: 'GET',
                url: targeturl,
                success: function (partialView) {
                    $('#unlike-a').removeClass('liked');
                    $('#unlike-a').addClass('unliked');
                }
            });
        });
    });
</script>