@model artistry_Data.Models.Collections
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<style>
    img {
        max-width: 100%;
        width: 100%;
        object-fit: contain;
    }
</style>

<div class="page-header page-header-default">
    <div class="page-header-content">
        <div class="page-title">
            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Collections</span></h4>
        </div>
        <div class="heading-elements">
            <div class="heading-btn-group">
                <a asp-controller="Collection" asp-action="GetCollection" asp-route-id="@Model.Id" class="btn btn-link btn-float has-text"><i class="icon-pencil text-primary"></i><span>Edit</span></a>
                @if (Model.Active)
                {
                    <a asp-controller="Collection" asp-action="Deactivate" asp-route-id="@Model.Id" class="btn btn-link btn-float has-text"><i class="icon-subtract text-primary"></i><span>Deactivate</span></a>
                }
                else
                {
                    <a asp-controller="Collection" asp-action="Activate" asp-route-id="@Model.Id" class="btn btn-link btn-float has-text"><i class="icon-add text-primary"></i><span>Activate</span></a>
                }

            </div>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index"><i class="icon-home2 position-left"></i> Home</a></li>
            <li class="active"><a asp-controller="Collection" asp-action="Index">Collections</a></li>
        </ul>
    </div>
</div>

<div class="content" style="padding-top:0px;padding-bottom:0;" id="closePanel1">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-toggle="collapse" data-target="#collapsePanel1" class="icon-arrow-down12"></a></li>
                    <li><a data-close="close" data-target="#closePanel1" class="icon-cross3"></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body" id="collapsePanel3">
            <div style="margin-bottom:30px;">

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="image">
                            @if (Model.Image != null)
                            {
                                <img src="@Url.Action("RenderImage", "Image", new { id = Model.ImageId })" class="image-thumb" alt="" />
                            }
                            else
                            {
                                <img src="~/assets/images/placeholder.jpg" class="image-thumb" alt="" />
                            }
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <br/><hr/>
                <div class="row">
                    <p class="col-md-12 text-bold" style="font-size:18px">@Model.Name</p>
                </div>
                <br />
                <div class="row">
                    <p class="col-md-12">@Model.Description</p>
                </div>
            </div>

            <div id="artworks-coll"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $.ajax({
        url: '/Moderator/ArtworkCollection/Index?id='+@Model.Id,
        type: 'GET',
        success: function (partialView) {
            $('#artworks-coll').html(partialView);
            $('#artworks-coll').show();
            }
        });
    });

</script>